.footerStyle{
    margin-top: 13rem;
    height: 4.5rem;
    width: 100rem;
    background-color: navy;
    bottom: -4.5rem;
    align-items: center;

}
.footerWriting{
    /* padding-top: 13rem; */
    color: white;
    text-align: center;
    margin-bottom: 0%;
}