.homePage{
    width: 100rem;
    margin-top: 6rem;
    height: 30rem;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}