.houseDisplay{
    text-align: center;
    margin-top: 6.2rem;
    max-height: 100rem;
}
.clickImage{
    width: 5rem;
    margin-top: 20rem;
    display: inline-block;
    margin-right: .2rem;
    opacity: .8;
    z-index: 10;
}
.houseImageBackground{
    width: 40rem;
    height: 20rem;
    background: no-repeat;
    background-size: 100%;
    text-align: center;
    margin-left: 30%;
}
.houseDescription{
    margin-top: 4rem;
}
.leftArrowButton{
    height: 3.5rem; 
    float: left;
    align-items: center;
    border: none;
    margin-top: 50%;
    opacity: .8;
    z-index: 15;
}
.leftArrow{
    height: 1rem;
}
.rightArrowButton{
    height: 3.5rem; 
    float: right;
    border: none;
    margin-top: 50%;
    opacity: .8;
    z-index: 15;
}
.rightArrow{
    height: 1rem;
}
.description{
    width: 20rem;
    display: inline;
}