.newHouseForm{
    margin-top: 6.2rem;
    text-align: center;
    max-height: 28rem;
}
.newHouseLabel{
    margin: 1rem;
    font-weight: bolder;
}
.newHouseInput{
    margin-left: .5rem;
    margin-top: .5rem;
}
.newHouseCheckBox{
    font-weight: bold;
    margin: 1rem;
}
.newHouseDescription{
    font-weight: bold;
    margin-top: 35rem;
}
.newHouseInputDescript{
    width: 20rem;
    height: 10rem;
}