.image{
    width: 300px;
    height: 200px
}
.salesDisplay{
    width: 100%;
    margin-top: 6.2rem; 
    text-align: center;  
}
.imageColumn{
    float: left;
    width: 31%;
    margin-left: 2rem;
    margin-bottom: 1rem;
}
.salesDisplay:after{
    content: "";
    display: table;
    clear: both;
}