.signUpStyle{
    padding-top: 8rem;
    text-align: center;
}
.labelStyle{
    font-weight: bolder;
    font-size: larger;
}
.inputStyle{
    height: 2rem;
    width: 20rem;
    margin-bottom: 2rem;
    font-weight: bolder;
    font-size: medium;
    border-radius: 25%;
}
.errorStyle{
    padding-top: 10rem;
    padding-right: 5rem;
    float: right;
    height: 60rem;
    color: red;
    font-weight: bold;
}
.starStyle{
    color: red
}
